{% extends 'base.html' %}
{% block title%}
Login
{% endblock %}

{% block body%}
<div class="form">
    <h1>Single Photon QC Laboratory</h1>
    <h2>Login</h2>
    <form method="POST">
        <input type="text" name="u" placeholder="Username" required="required" />
        <input type="password" name="p" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
        <button type="button" class="btn btn-primary btn-block btn-large">Forgot my password</button>
    </form>
    Ehsan Shaghaei<br>
    <a href="https://github.com/Ehsan2754/PLUTO2">Github Repository</a><br>
    <a href="mailto:Ehsan2754@yahoo.com">Ehsan2754@yahoo.com</a>
</div>
{% endblock %}