{% extends 'base.html' %}
{% block title%}
Dashboard
{% endblock %}

{% block body%}

    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">CCD</h3>
                <img src="{{ url_for('video_feed') }}" width="100%">
            </div>
        </div>
    </div>
Ehsan Shaghaei<br>
<a href="https://github.com/Ehsan2754/PLUTO2">Github Repository</a><br>
<a href="mailto:Ehsan2754@yahoo.com">Ehsan2754@yahoo.com</a>
</div>
{% endblock %}